.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #0044b5;
    color: #fff;
}

.btn-secondary {
    background-color: #ddd;
    color: #333;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-overlay {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);  */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-body input[type="text"],
.modal-body input[type="email"],
.modal-body input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.modal-body input[type="text"]:focus,
.modal-body input[type="email"]:focus,
.modal-body input[type="password"]:focus {
    border-color: #0044b5;
    outline: none;
}



